<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>killsData</servlet-name>
        <servlet-class>killsData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timeData</servlet-name>
        <servlet-class>timeData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>difficultyData</servlet-name>
        <servlet-class>difficultyData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readKills</servlet-name>
        <servlet-class>readKills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readDifficulty</servlet-name>
        <servlet-class>readDifficulty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readTime</servlet-name>
        <servlet-class>readTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteKills</servlet-name>
        <servlet-class>deleteKills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDifficulty</servlet-name>
        <servlet-class>deleteDifficulty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTime</servlet-name>
        <servlet-class>deleteTime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>killsData</servlet-name>
        <url-pattern>/killsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timeData</servlet-name>
        <url-pattern>/timeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>difficultyData</servlet-name>
        <url-pattern>/difficultyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readKills</servlet-name>
        <url-pattern>/readKills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readDifficulty</servlet-name>
        <url-pattern>/readDifficulty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readTime</servlet-name>
        <url-pattern>/readTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteKills</servlet-name>
        <url-pattern>/deleteKills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDifficulty</servlet-name>
        <url-pattern>/deleteDifficulty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTime</servlet-name>
        <url-pattern>/deleteTime</url-pattern>
    </servlet-mapping>
</web-app>
